@import 'common';

html,body {overflow-x:hidden; width:100%;}
.all {
    main {
        .top_bg {
            position: relative;
            .video_sticky {
                height: 0;
                padding-bottom: 75%;
            }
            .bg {
                position: fixed; top: 0; left: 0; z-index: -1;
                width: 100%; padding-bottom: calc(72% + 32px);
                overflow: hidden; max-width: 100%;
                .iframe-container {
                    position: relative;
                    width: 100vw;
                    height: 100vh;
                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .pc-video{
                        
                        
                    }
                    .mo-video {
                        display: none;
                    }
                }
                .content {
                    position: absolute; text-align: center; text-align: center;
                    top: 50vh; left: 50%; z-index: 50; margin-top: -4.5%;
                    width: 100%; transform: translate(-50%,0%);
                    h2 {
                        letter-spacing: 9px;
                        margin-bottom: 40px;
                        color: #fff;
                        font-weight: 300;
                        font-size: 2.75rem;
                    }
                    p {
                        font-size: 1.125rem;
                        font-weight: 500;
                        color: #fff;
                        line-height: 1.65;
                    }
                }
            }
        }
        
        .wrap {
            
            background-attachment: fixed;
            background-color: #fff;
            section {
                position: relative; padding-bottom:130px ;
                .border {
                    background: #fff;
                    display: block;
                    position: absolute; top: -100px;
                    width: 132%; height: 0;
                    border-radius: 50%; left: 50%; transform: translate(-50%, 0);
                    padding-bottom: 40%; z-index: 0;
                    margin-top: -9px;
                }
                .swiper-container {
                    position: relative; 
                    margin: 0 auto; width: 100%; height: fit-content;
                    .swiper-wrapper {
                        overflow: visible;
                        @include flex-rnfc;
                        .swiper-slide {
                            text-align: center;
                            transform-origin:center center; ;
                            flex: 0 0 auto;
                            position: relative;
                            width: 600px;
                            h2 {
                                font-family: "Gowun Dodum", sans-serif;
                                margin-bottom: 14px;
                                font-size: 2.75rem;
                                font-weight: 500;
                                line-height: 1.4;
                            }
                            p {
                                span {
                                    font-weight: 400;
                                    font-size: 1.375rem;
                                    font-family: "Gowun Dodum", sans-serif;
                                }
                                display: block;
                                font-family: "Gowun Dodum", sans-serif;
                                color: #666;
                                margin-bottom: 60px;
                                font-weight: 400;
                                font-size: 1.375rem;
                                word-break: keep-all;
                                line-height: 1.75;
                            }
                            p:last-of-type {
                                margin-top: 60px;
                                margin-bottom: 30px;
                            }
                            > .photo {
                                position: relative;
                                width: 70%;
                                margin: 0 auto;
                                border-radius: 50%;
                                overflow: hidden;
                                img {
                                    width: 100%; height: auto;
                                }
                                .icon {
                                    position: absolute;
                                    left: 50%; bottom: 32px;
                                    height: auto;
                                    width: 32px;
                                }
                            }
                        }
                        .swiper-slide-active {
                            transform: rotate(0);
                        }
                        .swiper-slide-prev {
                            transform: rotate(-15deg) translateY(100px);
                            h2 {
                                display: none;
                            }
                            p {
                                display: none;
                            }
                        }
                        .swiper-slide-next {
                            transform: rotate(15deg) translateY(100px);
                            h2 {
                                display: none;
                            }
                            p {
                                display: none;
                            }
                        }
                        .slide1 {
                            p {
                                span {
                                    color: #75828E;
                                }
                            }
                            h2 {
                                color: #75828E;
                            }
                        }
                        .slide2 {
                            p {
                                span {
                                    color: #82664F;
                                }
                            }
                            h2 {
                                color: #82664F;
                            }
                        }
                        .slide3 {
                            p {
                                span {
                                    color: #5181AE;
                                }
                            }
                            h2 {
                                color: #5181AE;
                            }
                        }
                        .slide4 {
                            p {
                                span {
                                    color: #717E8F;
                                }
                            }
                            h2 {
                                color: #717E8F;
                            }
                        }
                        .slide5 {
                            p {
                                span {
                                    color: #5F6F55;
                                }
                            }
                            h2 {
                                color: #5F6F55;
                            }
                        }
                        
                    }
                    .swiper-button-prev {
                        margin-top: -35px;
                        cursor: pointer; line-height: 64px;
                        background-position: center top 50px;
                        width: 64px; height: 64px; 
                        border: 1px solid #ccc;
                        border-radius: 50%;
                        color: transparent; transform: rotate(-8deg);
                        left: 25%;
                        background: url(../images/brand/element_swiper_arrow.png) no-repeat;
                    }
                    .swiper-button-next {
                        cursor: pointer; line-height: 64px;
                        background-position: center top 50px;
                        width: 64px; height: 64px;
                        border: 1px solid #ccc;
                        border-radius: 50%;
                        color: transparent;
                        right: 25%; transform: rotate(188deg);
                        background: url(../images/brand/element_swiper_arrow.png) no-repeat;
                    }
                }
                .container {
                    position: relative;
                    width: 1200px;
                    margin: 0 auto;
                    @include flex-rwsc;
                    padding: 160px 0 80px;
                    .content {
                        width: 50%;
                        .show {
                            h2 {
                                margin-bottom: 40px;
                                font-family: "Gowun Dodum", sans-serif;
                                font-size: 2.75rem;
                                font-weight: 500;
                                line-height: 1.4;
                                color: #666;
                            }
                            p {
                                font-size: 1.125rem;
                                width: 478px;
                                margin-bottom: 40px;
                                word-break: keep-all;
                                line-height: 1.75;
                                color: #666;
                            }
                            
                        }
                        > button {
                            color: #666;
                            border-bottom: 1px solid #666;
                            line-height: 1.6;
                            padding-bottom: 2px;
                            margin-bottom: 60px;
                            
                        }
                        .popup_bg {
                            z-index: 15;
                            background-color:rgba(0,0,0,.5) ;
                            position: fixed; top: 0; left: 0;
                            height: 100vh; width: 100vw;
                            margin: 0 auto;
                            display: flex; align-items: center; justify-content: center;
                            .popup_content {
                                background-color: #fff;
                                border-radius: 10px;
                                box-shadow: 0 2px 16px #00000014;
                                padding-top: 16px;
                                width: 400px;
                                .top {
                                    position: relative;
                                    padding: 12px 0 20px;
                                    text-align: center;
                                    h2 {
                                        color: #000;
                                        font-size: 1.125rem;
                                    }
                                    button {
                                        position: absolute; top: 9px; right: 26px;
                                        width: 24px; height: 24px;
                                    }
                                }
                                .content {
                                    width: 100%; 
                                    padding: 10px 27px 32px 27px;
                                    @include flex-rwcc;
                                    .box {
                                        @include flex-cncc;
                                        margin-bottom: 24px;
                                        width: 50%;
                                        img {
                                            width: 80px;
                                            margin: 0 5px;
                                        }
                                        p {
                                            font-size: 0.875rem;
                                            font-weight: 400;
                                            text-align: center;
                                            margin-top: 8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    > .photo {
                        max-width: 480px;
                        padding-left: 30px;
                        width: 50%;
                        img {
                            width: 100%; height: auto;
                        }
                    }
                    > .show {
                        width: 100%;
                        text-align: center;
                        h2 {
                            margin-bottom: 40px;
                            font-family: "Gowun Dodum", sans-serif;
                            font-size: 2.75rem;
                            font-weight: 500;
                            line-height: 1.4;
                            color: #666;
                        }
                        p {
                            font-size: 1.125rem;
                            margin-bottom: 40px;
                            word-break: keep-all;
                            line-height: 1.75;
                            color: #666;
                        }
                    }
                    .container_wrap {
                        margin: 0 -15px;
                        @include flex-rwcc;
                        > .box {
                            position: relative;
                            width: 50%; height: 626px;
                            padding: 0 15px;
                            margin-bottom: 30px;
                            @include flex-rnsf;
                            .left {
                                width: 50%; height: 100%;
                                display: flex; flex-flow: wrap;
                                padding: 40px;
                                align-content: space-between;
                                h3 {
                                    font-family: "Gowun Dodum", sans-serif;
                                    text-align: left;
                                    color: #fff;
                                    font-size: 2rem;
                                }
                                .content_btn {
                                    button {
                                        border: 1px solid #fff;
                                        border-radius: 40px;
                                        font-size: 1.125rem;
                                        padding: 10px 20px;
                                        white-space: nowrap;
                                        color: #fff;
                                        margin-bottom: 16px;
                                    }
                                    button:last-child {
                                        margin-bottom: 0;
                                    }
                                    .active {
                                        background-color: #fff;
                                        color: #666;
                                    }
                                }
                            }
                            .right {
                                position: relative;
                                width: 50%; height: 100%;
                                .content_box {
                                    position: absolute; top: 0; left: 0; bottom: 0; right: 0;
                                    height: 100%; z-index: 1;
                                    img {
                                        width: 100%; height: 100%;
                                    }
                                    p {
                                        position: absolute; bottom: 0;
                                        padding: 40px;
                                        color: #fff;
                                        opacity: 0;
                                        line-height: 1.75;
                                    }
                                    p.active {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        .box:nth-child(1){
                            .left {
                                background-color: #59443b;
                            }
                        }
                        .box:nth-child(2){
                            .left {
                                background-color: #515C30;
                            }
                        }
                        .box:nth-child(3){
                            .left {
                                background-color: #98875F;
                            }
                        }
                        .box:nth-child(4){
                            .left {
                                background-color: #1A2924;
                            }
                        }
                    }
                }
                
                > .box {
                    z-index: 10;
                    height: 100vh;
                    position: relative;
                    .content {
                        width: 1200px;
                        margin: 0 auto;
                        padding: 0 15px;
                        @include flex-rnsf;
                        .left {
                            > h2 {
                                font-family: "Gowun Dodum", sans-serif;
                                color: #fff;
                                padding: 71px 0;
                                line-height: 1.6;
                                font-size: 2rem;
                            }
                            p {
                                color: #fff;
                                line-height: 1.75;
                                margin-bottom: 40px;
                            }
                            > button {
                                color: #fff;
                                border-bottom: 1px solid #fff;
                                line-height: 1.6;
                                padding-bottom: 2px;
                                margin-bottom: 30px;
                            }
                            .popup_bg {
                                z-index: 15;
                                background-color:rgba(0,0,0,.5) ;
                                position: fixed; top: 0; left: 0;
                                height: 100vh; width: 100vw;
                                margin: 0 auto;
                                display: flex; align-items: center; justify-content: center;
                                .popup_content {
                                    background: rgba(255, 255, 255, 0.7);
                                    border-radius: 10px;
                                    box-shadow: 0 2px 16px #00000014;
                                    padding-top: 16px;
                                    .top {
                                        position: relative;
                                        padding: 12px 0 20px;
                                        text-align: center;
                                        h2 {
                                            color: #000;
                                            font-size: 1.125rem;
                                        }
                                        button {
                                            position: absolute; top: 9px; right: 26px;
                                            width: 24px; height: 24px;
                                        }
                                    }
                                    .content {
                                        width: 100%; 
                                        padding: 0 40px 45px;
                                        @include flex-rncc;
                                        .box {
                                            width: 268px;
                                            text-align: center;
                                            @include flex-cncc;
                                            margin-bottom: 24px;
                                            img {
                                                width: 100%;
                                            }
                                            p {
                                                font-weight: 400;
                                                text-align: center;
                                                color: #000;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .right {
                            margin-top: 72px;
                            img {
                                height: 48px; margin-left: 10px;
                            }
                        }
                    }
                    .address {
                        position: absolute; bottom: 71px; left: 50%;
                        transform: translateX(-50%);
                        @include flex-rncc;
                        span {
                            color: #fff;
                            line-height: 1.75;
                            vertical-align: middle;
                        }
                    }
                }
                > .box:nth-child(1) {
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(../images/brand/tea_field_item_1.webp);
                    background-size: cover;
                    background-position: center;
                    
                }
                > .box:nth-child(2) {
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(../images/brand/tea_field_item_2.webp);
                    background-size: cover;
                    background-position: center;
                }
                > .box:nth-child(3) {
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(../images/brand/tea_field_item_3.webp);
                    background-size: cover;
                    background-position: center;
                }
            }
            section:nth-child(2) {
                padding-bottom: 0;
            }
            section:nth-child(4) {
                .container {
                    width: 1400px;
                }
            }
            section:nth-child(5) {
                background-color: #82664F;
                .container {
                    > .show {
                        width: 100%;
                        text-align: center;
                        h2 {
                            color: #fff;
                        }
                        p {
                            color: #fff;
                        }
                    }
                    .swiper-container-slide {
                        overflow: visible;
                        width: 90%;
                        .swiper-wrapper {
                            padding-bottom: 100px;
                            width: fit-content;
                            @include flex-rnff;
                            .swiper-slide {
                                width: 327.5px !important;
                                margin-right: 30px;
                                cursor: grab;
                                p {
                                    margin-bottom: 24px;
                                    color: #fff;
                                    line-height: 1.55;
                                    opacity: 0.7;
                                    img {
                                        width: 100%;
                                        height: auto;
                                        vertical-align: top;
                                    }
                                    em {
                                        color: #fff;
                                        font-size: 1.5rem;
                                        font-weight: 300;
                                    }
                                }
                            }
                            
                        }
                        .swiper-scrollbar {
                            width: 100%; height: 2px; left: 0;
                            background-color: rgba(255, 255, 255, 0.15);
                            .swiper-scrollbar-drag {
                                background: #fff;
                            }
                        }
                    }
                }
            }
            section:nth-child(6) {
                background-color: #F8F8F8;
                .swiper-container-photo {
                    position: relative; 
                    margin: 100px auto 0; width: 100%; height: fit-content;
                    .swiper-wrapper {
                        overflow: visible;
                        .swiper-slide {
                            text-align: center;
                            width: 705px;
                            // margin-right: 80px;
                            opacity: 0.3;
                            img {
                                width: 100%;
                            }
                            span {
                                margin-top: 34px;
                                text-align: center;
                                color: #666;
                                line-height: 1.75;
                            }
                        }
                        .swiper-slide:hover {
                            opacity: 1;
                        }
                        .swiper-slide-active {
                            opacity: 1 !important;
                        }
                        .swiper-slide-prev {
                            span {
                                display: none;
                            }
                        }
                        .swiper-slide-next {
                            span {
                                display: none;
                            }
                        }
                    }
                    .swiper-button-prev:hover + .swiper-wrapper {
                        background-color: #000;
                    }
                    .swiper-button-prev {
                        width: 705px; height: 440px;
                        left: -46%; top: 23px;
                        color: transparent;
                    }
                    .swiper-button-next {
                        width: 705px; height: 440px;
                        right: -46%; top: 23px;
                        color: transparent;
                    }
                }
            }
            section:nth-child(7) {
                .container {
                    .content {
                        width: 100%;
                        margin-top: 100px;
                        .photo {
                            width: 100%;
                            margin-bottom: 30px;
                            @include flex-rnff;
                            .img_row2 {
                                padding: 0 15px;
                                width: calc(100% / 3);
                                img {
                                    display: block;
                                    margin-bottom: 30px;
                                    width: 100%; height: auto;
                                }
                            }
                            .img_txt {
                                position: relative;
                                padding: 0 15px;
                                width: calc(100% / 3);
                                img {
                                    width: 100%; height: auto;
                                }
                                .box {
                                    position: absolute; bottom: 0;
                                    padding: 40px 55px;
                                    .text {
                                        color: #fff;
                                        line-height:1.6;
                                        margin-bottom: 20px;
                                        max-width: 350px;
                                        font-size: 1.125rem;
                                        font-family: "Gowun Dodum", sans-serif;
                                    }
                                    .name {
                                        color: #fff;
                                        font-family: "Gowun Dodum", sans-serif;
                                        font-size: 0.875rem;
                                    }
                                }
                                .top_box {
                                    top: 0; bottom:auto;
                                }
                            }
                        }
                    }
                }
            }
            section:nth-child(8) {
                margin: 0;
                padding: 250px 0;
                text-align: center;
                p {
                    font-size: 2.25rem;
                    font-weight: 300;
                    line-height: 1.6;
                    color: #666;
                    margin-bottom: 63px;
                    font-family: "Gowun Dodum", sans-serif;
                }
                .link_wrap {
                    @include flex-rwcc;
                    a {
                        position: relative;
                        margin: 0 27px;
                        display: block;
                        border: 1px solid #444;
                        padding: 16px 24px;
                        cursor: pointer;
                        border-radius: 2px;
                        font-size: 1.125rem;
                        line-height: 1.7;
                        color: #111;
                        text-align: left;
                        width: 240px;
                        img {
                            position: absolute; top: 18px; right: 24px;
                        }
                    }
                }
            }
        }
    }
}