@import 'common';

main {
    .bg {
        width: 100%; height: 380px; position: relative;
        background: url(../images/product/banner_teaprod.jpg);
        background-position:center 20%;
        h1 {
            position: absolute; top: 50%; left: 50%;
            font-size: 3rem; font-weight: 500;
        }
    }
    .wrap {
        @include flex-rnff;
        margin: 40px auto 0;
        width: 1400px;
        nav {
            margin-right: 38px;
            h2 {
                margin-bottom: 30px;
                font-size: 1.125rem;
                color: #363535;
                white-space: nowrap;
            }
            ul {
                margin-left: 30px;
                li {
                    position: relative;
                    button{
                        margin-bottom: 30px;
                        white-space: nowrap;
                    }
                    .active {
                        color: #6c801a;
                    }
                    .gnb {
                        border: 1px solid #e1e1e1;
                        background: #fff;
                        position: absolute; top: -12px; left: 120px;
                        width: 150px; padding: 15px 19px 8px;
                        z-index: 999;
                        p {
                            margin-bottom: 8px;
                            font-size: 0.875rem;
                            color: #363535;
                            padding-bottom:4px;
                            border-bottom: 1px solid #fff;
                        }
                        .active {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .contents_wrap {
            width: 100%;
            section {
                position: relative;
                height: 49px;
                @include flex-rnsf;
                padding-right: 30px;
                h2 {
                    color: #363535;
                    font-size: 1.125rem;
                }
                .price_btn {
                    height: 49px;
                    button {
                        font-size: $title18;
                        margin-left: 42px;
                        color: #313131;
                        position: relative;
                    }
                    .active {
                        color: #6c801a;
                    }
                    .active::after {
                        display: block; content: '';
                        position: absolute; bottom: -28px; left: 0;
                        width: 100%; height: 3px; background-color: #6c801a;
                    }
                }
            }
            section::after {
                content: ''; display: block;
                position: absolute; bottom: 0; left: 0;
                width: 100%; height: 2px; background-color: #ececec;
                z-index: -1;
            }
            .content_num {
                @include flex-rnsc;
                margin: 20px 0 50px;
                p {
                    height: 30px;
                    line-height: 30px;
                    color: #717171;
                    .product_num {
                        color:#6c801a ;
                        font-weight: bold;
                    }
                }
                .type_wrap {
                    button {
                        display: inline-block;
                        border-radius: 38px;
                        background: #f1f1f1; color: #a5a5a5;
                        min-height: 38px; line-height: 38px; text-align: center;
                        overflow: hidden; margin-right: 9px;
                        font-size: $title18;
                        min-width: 84px; padding: 0 10px;
                        cursor: pointer;
                    }
                    .active {
                        background: #6c801a;
                        color: #fff;
                    }
                }
            }
            .item_wrap {
                .item_container {
                    @include flex-rwfc;
                    .item {
                        
                        border-right: 2px solid #f6f6f6;
                        padding: 0 22px 70px; width: 25%;
                        .photo {
                            position: relative;
                            a {
                                @include flex-cncf;
                                margin: 0 auto 5px;
                                > img {
                                    width: 100%; height: auto;
                                }
                                .product_name {
                                    color:#727272 ;
                                    font-size: 1.25rem;
                                    height: 48px;
                                }
                            }
                            .cart {
                                width: 64px; height: 64px;
                                position: absolute; bottom: 48px; right: 10px;
                                cursor: pointer; z-index: 5;
                            }
                        }
                        .price {
                            color: #555;
                            font-size: 1.25rem;
                            height: 50px;
                            em {
                                color: #000;
                                font-size: 1.25rem;
                                margin-right: 5px;
                            }
                        }
                        .heart_review {
                            display: flex; flex-flow: row;
                            .left {
                                margin-right: 50px;
                                .heart_img {
                                    .likeOn {
                                        // js
                                        display: none;
                                    }
                                }
                                .heart_num {
                                    color:#bcbcbc;
                                    ;
                                }
                            }
                            .right {
                                .review_num {
                                    color: #bcbcbc;
                                }
                            }
                        }
                    }
                    .item:nth-child(4n) {
                        border: none;
                    }
                }
            }
            .pagination {
                @include flex-rncc;
                margin-bottom: 30px;
                > button {
                    border: 1px solid #e1e1e1;
                    width: 50px; height: 50px;
                }
                #prev {
                    margin-right: 24px;
                }
                .num {
                    button {
                        font-size: 1.25rem;
                        color: #a1a1a1;
                        text-align: center; width: 42px; height: 42px;
                        line-height: 42px; border-radius: 100%;
                        margin: 0 8px;
                    }
                    .active {
                        background: #f5f5f5;
                        color: #000;
                    }
                }
                #next {
                    margin-left: 24px;
                }
            }
        }
    }
}